.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 25px;
  background-color: #003366;
  color: white;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style-type: none;
}

a {
  color: white;
  text-decoration: none;
}

footer {
  background: #ddd;
  padding: 15px;
  text-align: center;
  margin-top: 40px;
}
